{% extends 'crud/base.html' %}

{% block content %}

<h1>商品一覧</h1>

<a class="btn btn-light" href="{% url 'crud:new' %}">新規登録</a>

<table class="table">
    <thead>
        <tr>
            <td>商品名</td>
            <td>価格</td>
            <td></td>
        </tr>
    </thead>
    {% for product in object_list %}
    <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.price }} 円</td>
        <td>
            <a class="btn btn-primary" href="{% url 'crud:edit' pk=product.pk %}">編集</a>
            <a class="btn btn-danger" href="{% url 'crud:delete' pk=product.pk %}">削除</a>
        </td>
    </tr>
    {% endfor %}
</table>

<div class="d-flex justify-content-between">
    <div>
        {# ページの表示 #}
        {{ page_obj.number }} / {{ page_obj.paginator.num_pages }} ページ<br>
    </div>
    <div class="btn-group">
        {# 前へ #}
        {% if page_obj.has_previous %}
        <a class="btn btn-outline-secondary" href="?page=1">&laquo; 先頭</a>
        <a class="btn btn-outline-secondary" href="?page={{ page_obj.previous_page_number }}">前へ</a>
        {% else %}
        <a class="btn btn-outline-secondary disabled">&laquo; 先頭</a>
        <a class="btn btn-outline-secondary disabled">前へ</a>
        {% endif %}

        {# 次へ #}
        {% if page_obj.has_next %}
        <a class="btn btn-outline-secondary" href="?page={{ page_obj.next_page_number }}">次へ</a>
        <a class="btn btn-outline-secondary" href="?page={{ page_obj.paginator.num_pages }}">最後 &raquo;</a>
        {% else %}
        <a class="btn btn-outline-secondary disabled">次へ</a>
        <a class="btn btn-outline-secondary disabled">最後 &raquo;</a>
        {% endif %}
    </div>
</div>

{% endblock %}